body {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  font-family: 'Source Sans Pro', sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 18px;
  padding: 10px;
  background-color: #78a4fc;
  color:#fff;
  width: 150px;

}

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center; 
}

h1{
  font-size: 44px;
  text-align: center; 
  font-weight: 900;
}

h2 {
  color: #78a4fc;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #6d6d6d;
  font-size: 24px;
  display: inline-block;
}

h4{
  color: black;
  font-size: 20px;
  display: inline-block;
}

p{
  padding-left: 7px;
  display:inline-block;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
